/**
	*common css
	*Created time: 2016-07-27
	*Author: yw
	*Modified time: 2016-07-27
	*Modified by: 
*/
body { font: 12px/1.5 'Microsoft Yahei',Arial,Verdana; color: #333; }
em, strong, i { font-weight: normal; font-style: normal; }
a { text-decoration: none; color: #666; outline: none; }
a:hover { color: #e61d4c; }
table { width: 100%; border-collapse: collapse; }
ul, ol { list-style: none; }
img { vertical-align: top; }
/*select { padding-left:5px;background: url(../../images/public/select_widget_bg.png) no-repeat right; -webkit-appearance: none; appearance: normal; -moz-appearance: none; padding-right:20px;}*/
.w1200 { width: 1200px; margin: 0 auto; }
.w300{ width:300px;} 
.fl { float: left; }
.fr { float: right; }
.pr { position: relative; }
.dib { display: inline-block; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.mr10 { margin-right: 10px; }
.mr60{ margin-right:60px;}
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mtb20{ margin:20px 0px;}
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.ipt-txt { padding: 6px 5px; height:40px; line-height:27px;vertical-align: top; border: none; }
.ipt-btn { vertical-align: top; border: none; background: none; }
.txt-right { text-align: right; }
.txt-center { text-align: center; }
.txt-left { text-align: left; }
.placeholder { color: #999; }
.disabled { cursor: default; }
.hide { display: none; }
.clear { clear: both; }
.btn { font-size: 12px; line-height: 1; display: inline-block; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap; border: 1px solid transparent; border-radius: 4px; }
.btn-normal { border: 1px solid #e5e5e5; background-color: #fafafa; }
.btn-small { padding: 0 8px; border: 1px solid #e61d4c; border-radius: 2px; }
.btn-orange { color: #fff; background-color: #e61d4c; }
.btn-orange:hover { color: #fff; }
.btn-pink { color: #fff; background-color: #fa4b4b; }
.btn-pink:hover { color: #fff; }
.form-holder { margin-bottom: 12px; }
.form-holder:after { display: table; clear: both; content: ''; }
.form-holder-inline .form-widget { width: auto; }
.form-holder-checkbox { position: relative; }
.form-holder-checkbox label { position: relative; display: inline-block; padding-left: 20px; }
.form-widget { line-height: 24px; display: block; float: left; width: 100%; height: 40px; padding: 8px 12px; color: #333; border: 1px solid #e5e5e5; background-color: #fff; }
.form-widget-checkbox { position: absolute; left: 0; margin-top: 4px; margin-top: 2px\9; }
.form-widget-label { border: none; }
.form-widget option { padding: 1px 15px; }
.form-widget-area { padding-right: 30px; background: url(../images/public/m2.png) #fff no-repeat right center; }
.form-widget-txtA { padding: 5px; border: 1px solid #e5e5e5; }
#header, #content, #footer { clear: both; *zoom: 1; }
#header:after, #content:after, #footer:after, .wrap:after { display: table; clear: both; content: ''; }
.wrap:before { display: table; content: ''; }
@font-face { font-family: 'FontAwesome'; font-weight: normal; font-style: normal; src: url('../../fonts/fontawesome-webfont.eot?v=4.5.0'); src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg'); }
.fa { font: normal normal normal 14px/1 FontAwesome; font-size: inherit; position: relative; display: inline-block; margin-right: 4px; vertical-align: middle; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.fa-caret-down:before { content: '\f0d7'; }
.fa-caret-up:before { content: '\f0d8'; }
.fa-caret-left:before { content: '\f0d9'; }
.fa-caret-right:before { content: '\f0da'; }
.fa-angle-left:before { content: '\f104'; }
.fa-angle-right:before { content: '\f105'; }
.fa-angle-up:before { content: '\f106'; }
.fa-angle-down:before { content: '\f107'; }
.fa-chevron-left:before { content: '\f053'; }
.fa-chevron-right:before { content: '\f054'; }
.fa-mobile:before { content: '\f10b'; }
.fa-times-circle:before { content: '\f057'; }
.fa-thumbs-o-up:before { content: '\f087'; }
.fa-angle-double-down:before { content: '\f103'; }
.fa-star:before { content: '\f005'; }
.fa-heart-o:before { content: '\f08a'; }
.fa-heart:before { content: '\f004'; }
.fa-check-circle:before { content: '\f058'; }
.fa-refresh:before { content: '\f021'; }
.bgfa{ background:#fafafa}
.bge61{ background:#e61d4c}
.bg999{ background:#999999}
.bgea{ background-color:#eaeaea;}
.bgwrite{ background:#ffffff;}
.cle61{ color:#e61d4c}
.clfff{ color:#ffffff}
.cl333{ color:#333333}
.br{ border:1px solid #cccccc}
.oh{ overflow:hidden}
.por{ position:relative}
.poa{ position:absolute}
input[type="button"].btn-default{width:100px; height:40px; line-height:40px; text-align:center; color:#ffffff; border:none;}
.bgGradient{background: -moz-linear-gradient(top, #fefefe 0%, #e6e6e6 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6));  background: -webkit-linear-gradient(top, #fefefe 0%,#e6e6e6 100%);  background: -o-linear-gradient(top, #fefefe 0%,#e6e6e6 100%);  background: -ms-linear-gradient(top, #fefefe 0%,#e6e6e6 100%);  background: linear-gradient(to bottom, #fefefe 0%,#e6e6e6 100%);}
/*error*/
label.error { color: #d00; }
input.error, select.error { border: 1px solid #d00; }
.msg-error { line-height: 17px; clear: both; height: 17px; color: #d00; }
.msg-error label:before { font-family: 'FontAwesome'; font-size: 14px; margin-right: 3px; content: '\f057'; }

/*header*/
.header-hd { line-height: 50px; height: 50px; color: #666; border-bottom: 1px solid #eee; background-color: #e5e5e5; }
.header-bd { position: relative; height: 90px; border-bottom:1px solid #e61d4c }
.header-hd a:hover { color: #e61d4c; }

.site-top-user div:hover { cursor:pointer}
.site-top-user .w50,.site-top-user .w50 .downlist{ width:50px;}
.site-top-user .w110,.site-top-user .w110 .downlist{ width:110px;}
.site-top-user .on {height: 50px; text-align: center; color: #666; margin-right:20px; display:block; position:relative}
.site-top-user .user{ line-height:50px;}
.site-top-user .user img,.site-top-user .user span,.site-top-user .user i{ vertical-align:middle}
.site-top-user .bgmes{ background:url(../../images/public/bg_forumusermes.png) no-repeat; width:26px; height:30px; display:inline-block; margin:10px 12px;}
.site-top-user .num{ color:#ffffff; background:#e61d4c; width:15px; height:15px; line-height:15px; text-align:center; border-radius:50%; position:absolute; top:10px; right:12px;}
.site-top-user .drop-menu { position: absolute; z-index: 9999; top: 30px; left: 0; display: none; padding: 20px 30px; border: 1px solid #ccc; border-top: none; background-color: #fff; }
.site-top-user .downlist{ position:absolute; top:50px;border-top:none; z-index:99; display:none}
.site-top-user .downlist li{ background:#f2f2f2; color:#333333;}
.site-top-user .downlist li:last-child a{ border-bottom:none}
.site-top-user .downlist li a{ margin:0px 5px; height:20px; line-height:20px; text-align:center; display:block; border-bottom:1px solid #ccc}
.site-top-user .downlist li a:hover{ color:#e61d4c;}


.site-top-logo { float: left; margin-top: 12px; margin-right: 15px; }
.site-top-name{ height:50px; line-height:50px; margin-top:20px; border-left:1px solid #cccccc; color:#333333; font-size:16px; font-weight:bold; padding-left:20px; margin-left:10px; float:left}



/*标题*/
.site-title{ color:#33333; font-size:16px; height:30px; line-height:30px;}
.site-title span{ width:4px; height:16px; display:inline-block; border-radius:2px; vertical-align:middle; background:#e61d4c; margin-left:10px;}

/*top-search*/
.site-top-search { font-size: 14px; line-height: 32px; position: absolute; top: 50%; left: 50%; width: 480px; height: 32px; margin-top: -15px; margin-left: -235px; border: 1px solid #e61d4c;}
.site-top-search-text { width: 311px; height: 30px; line-height:20px;margin-left: 80px; padding: 6px 5px 6px 5px; }
.site-top-search-submit { font-size: 16px; position: absolute; top: 0; right: 0; width: 88px; height: 30px; color: #fff; background-color: #e61d4c; }
.site-top-search-txtHolder { font-size: 14px; position: absolute; top: 0; left: 80px; color: #999; }
.site-top-search-select { position: relative; }
.site-top-search-select .on { position: absolute; top: 0; left: 0; display: inline-block; width: 80px; height: 30px; cursor: default; text-align: center; color: #666; border-right: 1px solid #e6e6e6; background-color: #f2f2f2; }
.site-top-search-select .drop-menu { position: absolute; z-index: 9999; top: 30px; left: 0; display: none; padding: 20px 30px; border: 1px solid #ccc; border-top: none; background-color: #fff; }
.site-top-search-select .downlist{ position:absolute; left:-1px; top:30px; width:80px; border:1px solid #e61d4c; border-top:none; z-index:99; display:none}
.site-top-search-select .downlist li{ background:#f2f2f2}
.site-top-search-select .downlist li:hover{ background:#e61d4c; color:#ffffff; cursor:pointer}


/*footer*/
#footer { padding: 15px 0; color: #808080; background-color: #1a1a1a; }
.site-bot-services { margin-bottom: 25px; margin-top:30px; }
.site-bot-service { position: relative; width: 33%; padding-left: 94px; font-size:16px; }
.site-bot-service img{ height:90px; margin-right:10px;}
.site-bot-service .lh44 { line-height:44px;}
.site-bot-service .lh30 { line-height:30px;}
.site-bot-nav, .site-bot-copyright { text-align: center; }
.site-bot-nav a { margin: 0 15px; }
.site-bot-nav a:hover { color: #fff; }
.site-bot-sns { position: relative; display: inline-block; width: 40px; height: 40px; margin: 0 10px; text-indent: -9999px; }
.site-bot-sns img { position: absolute; top: -131px; left: -37px; display: none; max-width: 114px; }
.site-bot-sns:hover img { display: inline-block; }
.site-bot-sns-wx, .site-bot-sns-app { background: url(../images/public/global_footer.png) no-repeat; }
.site-bot-sns-wx { background-position: 0 -40px; }
.site-bot-sns-app { background-position: -48px -40px; }


/*翻页*/
#paging,.paging { margin-bottom: 40px; padding-top: 15px; }
#paging:after { display: table; clear: both; content: ''; }
.paging-inner { line-height: 30px; position: relative; text-align: center; color: #808080; }
.paging-inner a { height: 30px; margin: 0 2px; text-decoration: none; color: #808080; }
.paging-inner a:hover { color: #e61d4c; }
.paging-extra { position: absolute; top: 15px; left: 0; }
.paging-ellipses { display: inline-block; width: 20px; height: 30px; margin: 0 2px; }
.paging-num a, .paging-jump input { display: inline-block; width: 30px; border: 1px solid #e5e5e5; }
.paging-num a.current { color: #fff; border-color: #e61d4c; background-color: #e61d4c; }
.paging-num a.paging-ellipses { vertical-align: top; border: none; }
.paging-num a.paging-ellipses:hover { color: #808080; }
.paging-num .prev i, .paging-num .next i { font-size: 0; display: inline-block; width: 0; height: 0; margin: 0 auto 3px; vertical-align: middle; text-indent: -9999px; border-width: 5px 7px; border-style: solid; border-color: transparent; border-left-color: #808080; }
.paging-num .prev i { margin-right: 10px; border-right-color: #808080; border-left-color: transparent; }
.paging-num .next i { margin-left: 10px; }
.paging-num .disabled { cursor: default; opacity: .7; filter: alpha(opacity=70); }
.paging-num .disabled i { opacity: .5; filter: alpha(opacity=50); }
.paging-jump input { height: 30px; text-align: center; vertical-align: top; }
.paging-jump a.ipt_btn { display: inline-block; width: 60px; border: 1px solid #e5e5e5; }
.paging-jump em { font-style: normal; margin: 0 10px; }


/*弹出*/
.show-title{ height:40px; line-height:40px; text-align:center; background:#e61d4c; font-size:14px; color:#ffffff; font-weight:bold}
.show-title .close{ background:url(../../images/public/ico-showclose.png) no-repeat; width:12px; height:12px; position:absolute; right:10px; top:14px; cursor:pointer; display:inline-block}