
/*************设计师——作品管理——管理效果图****************/
.user-left-ul .user-left-panel>.user-left-list>.cur{background-color: #e61d4c;}
.user-left-ul .user-left-panel>.user-left-list>.cur a{color: #FFFFFF}
.user-left>h2.user-left-title{font-size: 18px}
.public-switch-tab>div>div>span{padding: 3px 10px;-webkit-border-radius: 23px;-moz-border-radius: 23px;border-radius: 23px; }

/**************设计师——作品管理——上传效果图***************/
.user-plan-list-ul-img{width: 215px;height: 120px;display: inline-block;}
.user-plan-list-ul .user-plan-list-ul-img img{margin: 0}
.imgtitle select{margin-top: 3px}
.designer-plan-box .user-plan-list-ul .planlabel .planlabel-active{background-color: #e61d4c;color: #FFFFFF}


/*********首页*********/
.top-banner{width: 1200px;margin: 0 auto}
.font-family{width:150px;display: inline-block;border-left: 2px solid #e61d4c;padding-left:15px;margin-top: 45px }
.font-ewm{
    position: absolute;
    right: 0;
    top: 28px}
.font-ewm p{margin-left: -3px}
.slide-r{display: inline-block;width: 280px;float: right}
.slide-r-ul>li{margin:0 20px;border-bottom: 1px dotted #e5e5e5;height: 50px}
.slide-r .slide-r-ul>li img{margin-top: 15px;margin-right: 20px}
.slide-r-ul>li span{font-size: 14px}
.slide-r-ul>li b{font-weight: bold;color: #e61d4c}
.index-tender-infor>.tender-infor-title .site-title{font-weight: bolder}
.index-tender-infor .tender-infor-title{padding-left: 0}
.index-tender-infor>.tender-infor-title .site-title span{margin-left: 10px}
.site-title a{float: right;margin-right: 10px;color:#666666;font-weight: normal}
.filter-criteria{margin-left: 10px}
.index-tender-infor>.tender-infor-title .filter-criteria select{width: 100px;line-height: normal;color: #666666}
.index-tender-infor>.tender-infor-title .filter-criteria input{border-radius:3px;line-height: normal }
.tender-design-screen-hand-list li.head span{font-weight: bold}
.tender-design-screen-hand-list li span:first-child a{height: 40px;line-height: 40px;width: 204px;color: #000000;overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.tender-design-screen-hand-list li .span6{width: 160px;padding: 0}
.tender-design-screen-hand-list{height: 270px}
.tender-design-screen-hand-list-1 li{background-color: #e5e5e5;padding: 10px 0}
.index-tender-notice{height:416px}
.index-tender-infor{height:416px}
.tender-design-screen-hand-list li.body{border: none}
.tender-design-screen-hand-list-1 .head .span1{ width:204px; display: inline-block;text-align: center;font-weight: bold}
.tender-design-screen-hand-list-1 .head .span2{ width:110px; display: inline-block;text-align: center;font-weight: bold}
.tender-design-screen-hand-list-1 .head .span3{ width:124px; display: inline-block;text-align: center;font-weight: bold}
.tender-design-screen-hand-list-1 .head .span4{ width:96px; display: inline-block;text-align: center;font-weight: bold}
.tender-design-screen-hand-list-1 .head .span5{ width:92px; display: inline-block;text-align: center;font-weight: bold}
.tender-design-screen-hand-list-1 .head .span6{ width:160px; display: inline-block;text-align: center;font-weight: bold}
.tender-design-screen-hand-list li.body .span6 a{border-radius: 3px}
.scrollNews b,.scrollNews-2 b{width: 31%;margin: 10px 0;display: inline-block;text-align: center}
.scrollNews b a,.scrollNews-2 b a{color: #e4393c}
.tender-notice-list h2, .tender-notice-list h3,.tender-notice-list h4{display: inline-block}
.tender-notice-list img{vertical-align:bottom;margin-left: -5px}
.tender-notice-list li h2{font-size: 14px;text-overflow: ellipsis;  white-space: nowrap;overflow: hidden;width: 220px}
.tender-notice-list-div-span{line-height: 16px;font-size: 16px ;color: #e61d4c;font-weight: bold}
.tender-notice-list-div-p{text-overflow: ellipsis;  white-space: nowrap;overflow: hidden;width: 220px}
.tender-design-screen-hand-list-click-1-div{width: 178px;height: 68px;border: 1px solid #e5e5e5;border-radius: 5px;position: relative;top: -200px;left: 275px;background-color: #FFFFFF;z-index: 800;box-shadow: 0 0 15px #aaa;display: none;opacity: 0}
.tender-design-screen-hand-list-click-1-div span{text-align: center;font-size: 18px;font-family: 黑体;      margin-top: 21px;  display: inline-block;}
.tender-design-screen-hand-list-click-1-div img{    margin-top: 20px;  margin-left: 30px}
.tender-design-screen-hand-list-click-1-div-2{width: 178px;height: 68px;border: 1px solid #e5e5e5;border-radius: 5px;position: relative;top: -200px;left: 275px;background-color: #FFFFFF;z-index: 800;box-shadow: 0 0 15px #aaa;display: none;opacity: 0}
.tender-design-screen-hand-list-click-1-div-2 span{text-align: center;font-size: 18px;font-family: 黑体;      margin-top: 21px;  display: inline-block;}
.tender-design-screen-hand-list-click-1-div-2 img{    margin-top: 20px;  margin-left: 30px}

/**********热门论坛**********/
.mb40{margin-bottom: 40px;}
.sy-tribune-top b{font-size: 28px; font-family:"Microsoft YaHei";}
.sy-tribune-top p{float: right;}
.sy-tribune-top>span{margin-left: 10px;font-size: 14px}
.sy-tribune-top>span>span{color: #e61d4c;font-weight: bold;font-size: 14px;cursor: pointer}
.sy-tribune-top p a{font-size: 16px;padding: 8px 10px;margin: 0 15px}
.sy-tribune-top-active{ color: #e61d4c;font-weight: bold;border-bottom: 2px solid #e61d4c}
.sy-tribune-center{margin-top: 10px;background:#fff;}
.index-tender-notice .site-title{font-weight: bold}
.sy-tribune-center a{margin-right:10px ;position: relative;width: 240px;height: 181px;}
.sy-tribune-center .sy-tribune-center-a5{margin-right: 0}
.sy-tribune-center a>div{display: inline-block;position: absolute;width: 240px;height:181px;background-color: #000000;opacity: 0.3;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);}
/*.sy-tribune-center a>p{position: absolute;left: 0;top:0;width:69px;height:65px;background: url("../../images/img/images/123_03.png")no-repeat right}*/
.sy-tribune-center a>span{position: absolute;color: #FFFFFF;font-size: 28px;display: inline-block;
    width: 240px;
    text-align: center;
  margin-top: 60px}
.sy-tribune-center a>b{position: absolute;left: 85px;line-height:240px;z-index: 555;color: #FFFFFF;font-size: 14px;}
.sy-tribune-center-div2-d1{display: inline-block}
.sy-tribune-center-div2-d1 h2{font-size: 18px;margin: 15px 0}
.sy-tribune-center-div2-d1 p{display: inline-block;margin-left: -13px}
.sy-tribune-center-div2-d1>p>a{display: block;height: 20px;width: 200px;margin-top: 5px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sy-tribune-center-std{margin-top: 20px}
.sy-tribune-center-div2-d1{padding-bottom: 16px}
.sy-tribune-center-start{display: none}
.sy-tribune-center-footer{margin:25px 0 40px 0}
.sy-tribune-center-footer-img1{margin: 0 16px}
.sy-tribune-footer h1{ font-size: 28px;  font-family:"Microsoft YaHei";  margin-bottom: 10px;}
.sy-tribune-footer h1>span{font-size: 14px}
.sy-tribune-footer h1>span a{font-weight: bold;color: #e61d4c;font-size: 16px}
.sy-tribune-footer-rm-bg{display: inline-block;position: relative;overflow: hidden;width: 469px;height: 470px}
.sy-tribune-footer-rm-sm1{display: inline-block;float: right;width:720px ;}
.sy-tribune-footer-rm-sm1>p{overflow: hidden;display: inline-block;width: 227px;height: 228px;margin-left: 9px;margin-bottom: 10px;position: relative}
.sy-tribune-footer-rm-sm1>p>b{display: inline-block;position: absolute;width: 227px;height: 50px;left: 0;bottom: 0;opacity: 0.3;background-color: #000000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);}
.sy-tribune-footer-rm-sm1>p>span{display: inline-block;position: absolute;left: 0;bottom: 15px;font-size: 14px;color: #FFFFFF;width: 227px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.sy-tribune-footer-rm-bg>p{display: inline-block;position: absolute;width: 469px;height: 100px;left: 0;bottom: 0;opacity: 0.3;background-color: #000000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);}
.sy-tribune-footer-rm-bg>b{display: inline-block;position: absolute;left: 0;bottom: 15px;font-size: 14px;color: #FFFFFF;width:469px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.sy-tribune-footer-rm-bg>span{display: inline-block;position: absolute;left: 0;bottom: 50px;font-size: 18px;color: #FFFFFF;width: 469px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.sy-tribune-footer-rm-bg>a>img{transition: all 1s;}
.sy-tribune-footer-rm-bg>a>img:hover{transform: scale(1.2)}
.sy-tribune-footer-rm-sm1 p img{transition: all 1s;}
.sy-tribune-footer-rm-sm1 p img:hover{transform: scale(1.2)}
/*.index-tender-infor>.tender-infor-title .site-title{ box-shadow: 0 1px 15px 0 #ccc;-webkit-box-shadow: 0 1px 15px 0 #ccc;-moz-box-shadow: 0 1px 15px 0 #ccc; }*/
/*.index-tender-notice .site-title{box-shadow: 0 1px 15px 0 #ccc;-webkit-box-shadow: 0 1px 15px 0 #ccc;-moz-box-shadow: 0 1px 15px 0 #ccc; }*/
/*.sy-tribune-top{box-shadow: 0 1px 3px 0 #ccc;-webkit-box-shadow: 0 1px 3px 0 #ccc;-moz-box-shadow: 0 1px 3px 0 #ccc; }*/
.index-tender-infor{margin-top: 15px}
.index-tender-notice{margin-top: 15px}
.sy-tribune-footer-rm-bg>img{position: absolute;left: 0;top: 0;width: 60px;height: 50px}
.sy-tribune-footer-ar{float: right;font-size: 12px;font-weight: normal;line-height: 30px;font-family: "Microsoft YaHei"}



.banner{ width: 920px; height: 420px; position: relative; overflow: hidden; float: left;display: inline-block}
.banner-btn{display:none;}
.banner-btn a{display:block;line-height:100px;position:absolute;top:160px;width:40px;height:100px;background-color:#000;opacity:0.3;filter:alpha(opacity=30);color:rgb(255, 255, 255);overflow:hidden;z-index:4;}
.prevBtn{left:5px;}
.nextBtn{right:5px;}
.banner-img{font-size:0;*word-spacing:-1px;/* IE6、7 */ letter-spacing:-3px;position:relative;}
.banner-img li{display:inline-block;*display:inline;*zoom:1;/* IE6、7 */ vertical-align:top;letter-spacing:normal;word-spacing:normal;font-size:12px;}
.banner i{width:15px;height:30px;cursor:pointer;margin:35px 0 0 12px;display:block;}
.banner .nextBtn i{background:url('../../images/public/bg_next1.png')  no-repeat;}
.banner .prevBtn i{background:url('../../images/public/bg_prev1.png')  no-repeat;}

.banner-circle{position:absolute;left:50%;bottom:15px;height:13px;text-align:center;font-size:0;border-radius:10px;background:rgba(255,255,255,0.3);filter:alpha(opacity:30);}
.banner-circle li{border-radius:10px;margin:2px;display:inline-block;display:-moz-inline-stack;vertical-align:middle;zoom:1;}
.banner-circle li a{display:block;padding-top:9px;width:9px;height:0;border-radius:50%;background:#B7B7B7;overflow:hidden;}
.banner-circle .selected a{background:#e61d4c;}


/*户型图*/
.house-screen{margin: 0}
.house-screen tr .td3 span{margin-left:0;margin-right: 20px ;margin-top: 10px;margin-bottom: 10px}
.house-screen tr .td3 span:first-child{margin-left: 10px}
.house-screen-input-txt{border: 1px solid #cccccc;outline:none;padding:2px 3px;    margin-top: 0.5px;}
.house-screen tr .td3 span{border: 1px solid transparent;    display: inline-block;
    height: 20px;
    position: relative;line-height: 17px;}
.house-screen .house-screen-input-btn{border: none;background-color: #e61d4c;color: #FFFFFF;width:50px;height: 20px;display: inline-block}
.house-screen tr .td3 span.house-screen-span{border: 1px solid #e61d4c;}
.house-screen tr .td3 span.house-screen-span b{padding: 4px;background:url("../../images/img/images/hxt_01.jpg") no-repeat;position: absolute;top:10px;right: -1px}
.house-screen tr .td3 span:hover{color: #e61d4c;background-color: transparent}
.house-screen{border: none}
.house-screen td{border: 1px solid #e5e5e5}
.house-centent{margin-top:20px }
.house-centent .house-search-ul li .text{border-top:1px dotted #cccccc }
.house-search-ul li{border: 1px solid #e5e5e5}
.house-screen tr .td2{text-indent: 10px}

/*素材页*/
.model-list-ul li .text{border-top: 1px dotted #e5e5e5}
.model-screen tr .td3 span{margin-left:0;margin-right: 20px ;margin-top: 10px;margin-bottom: 10px;border: 1px solid transparent;    display: inline-block;
    height: 20px;
    position: relative;line-height: 17px;text-align: center}
.model-screen tr .td3 span:first-child{margin-left: 10px}
.model-screen tr .td3 span.house-screen-span{border: 1px solid #e61d4c;}
.model-screen tr .td3 span.house-screen-span b{padding: 4px;background:url("../../images/img/images/hxt_01.jpg") no-repeat;position: absolute;top:10px;right: -1px;}
.model-screen tr .td3 span:hover{color: #e61d4c;background-color: transparent}
.model-screen .td4 span.house-screen-span{border: 2px solid #e61d4c}
.model-screen tr td{border: 1px solid #e5e5e5}
.nav-top{background: #e5e5e5;  padding: 10px;}
.nav-top-l{display: inline-block}
.nav-top-l a{display: inline-block;padding: 0 20px 0 20px}
.nav-top-l-a1{background: url("../../images/img/images/scy-1.jpg") no-repeat 0 4px;border-right:1px solid #cccccc }
.nav-top-l-a2{background: url("../../images/img/images/scy-2.jpg") no-repeat 0 4px;margin-left: 15px}
.nav-top-l-a-active{font-weight: bold;color: #000000}
.nav-top-r{float: right;margin-right: 15px}
.nav-top-r-span1{font-weight: bold;color: #e61d4c}
.model-screen{margin: 10px 0 20px 0}
.model-screen tr .td4 span:first-child{margin-left: 20px}
.model-list-ul li{border: 1px solid #e5e5e5;}
.model-screen .house-screen-input-btn{border: none;background-color: #e61d4c;color: #FFFFFF;width:50px;height: 20px;display: inline-block}
.last-active{display: none}
.slide-r-ul{background-color: #FFFFFF}
.tender-design-screen-hand-list li.body{border-bottom: 1px dotted #f5f5f5}
.index-tender-notice .site-title i{margin-top: -3px;margin-left: 0}
.tender-design-screen-hand-list li.body .span6 a{ width:70px; height:24px;line-height: 24px}

/***********************加入我们设计师*************************/
.advert-wrapper{width:100%;height:520px;margin-top:0;position:relative;}
.advert{width:1920px;height:520px;position:absolute;top:0;left:50%;margin-left:-960px;}
.advert-content{width:1200px;height:520px;position:absolute;top:0;left:50%;margin-left:-600px;}
.advert-content p{width:745px;color:#fff;text-align:center;}
.advert-content .cont-p1{font-size:40px;margin-top:275px;}
.advert-content .cont-p2{font-size:55px;line-height:40px;margin-top:10px;font-weight: bold}
.advert-content .join-us{margin-left: 220px;width:205px;height:60px;color:#fff;background:#e61d4e;border:none;border-radius:5px;font-size:25px;margin-top:40px;font-family: "Microsoft YaHei"}

.center-content>h1{font-size: 2.5em;color: #e61d4c;text-align: center;padding-top: 80px;background:#FFF;}
.center-content>p{padding-bottom:80px ;font-size: 1.5em;color: #9a9a9a;text-align: center;padding-top: 25px;background: #fff;}
.center-content-d1 span{color: #E9E9E9;position: relative;  top: -6px;}
.center-content-d1{text-align: center;margin-bottom: 45px}
.center-content-d1 b{font-size: 50px;padding: 0 10px;padding-top: 45px}
.center-content-d2{width: 1200px;margin: 0 auto;margin-bottom: 105px}
.center-content-d2>div{background-color: #FFFFFF;width: 320px;height: 340px; -webkit-box-shadow: 3px 3px 15px #e5e5e5;
    -moz-box-shadow: 3px 3px 15px #e5e5e5;
    box-shadow: 3px 3px 15px #e5e5e5;  display: inline-block;margin-bottom: 10px;border: 1px solid #e5e5e5;border-top:none }
.center-content-d2-blue{margin-left:90px; float: left;}
.center-content-d2-green{margin: 0 25px;float: left}
.center-content-d2-blue p{background-color: #2c8bf1;height: 3px}
.center-content-d2-blue h1{text-align: center;margin-top: 75px;margin-bottom: 35px}
.center-content-d2-blue h2{font-size: 22px;text-align: center;color: #2c8bf1;margin-bottom: 20px}
.center-content-d2-blue h3{font-size: 15px;color: #909090;text-align: center;width: 200px;margin: 0 auto}
.center-content-d2-green p{background-color: #0cd0d3;height: 3px}
.center-content-d2-green h1{text-align: center;margin-top: 75px;margin-bottom: 35px}
.center-content-d2-green h2{font-size: 22px;text-align: center;color: #0cd0d3;margin-bottom: 20px}
.center-content-d2-green h3{font-size: 15px;color: #909090;text-align: center;width: 200px;margin: 0 auto}
.center-content-d2-red p{background-color: #e61d4c;height: 3px}
.center-content-d2-red h1{text-align: center;margin-top: 75px;margin-bottom: 35px}
.center-content-d2-red h2{font-size: 22px;text-align: center;color: #e61d4c;margin-bottom: 20px}
.center-content-d2-red h3{font-size: 15px;color: #909090;text-align: center;width: 200px;margin: 0 auto}



/*缤纷云的价值*/
.value-wrapper-parent{background:#fff;}
.value-wrapper{width:1200px;margin:30px auto 0;margin-bottom: 50px}
.value-title{width:1200px;height:55px;line-height:55px;}
.line-left{display:inline-block;width:430px;height:1px;background:#eaeaea;}
.line-right{display:inline-block;width:430px;height:1px;background:#eaeaea;}
.title-content{display:inline-block;font-size:50px;vertical-align:middle;margin:0 10px;}
.spec-font{color:#e61d4e;}
.value-content{width:1200px;margin-top:100px;}
.value-content-container{margin-bottom: 100px}
.value-content-container li{width:138px;height:160px;float:left;margin:0 30px;position:relative;}
.value-content-container li span{display:inline-block;width:90px;font-size:15px;color:#fff;text-align:center;position:absolute;top:100px;left:50%;margin-left:-45px;}
.value-content-d1>p,.value-content-d2>p,.value-content-d3>p{width: 560px;display: inline-block;color: #7e7e7e;font-size: 16px;}
.value-content>div>p>b{font-weight: bold;font-size: 18px;color: #000000}
.value-content>div>p:first-child{margin-right: 60px;float:left}
.value-content-d2{margin: 20px 0;padding-bottom: 20px}

/************设计师的资源************/
.center-content-d3,.center-content-d4,.center-content-d5{width: 1200px;margin: 0 auto}
.center-content-d4-parent{background:#fff;padding-bottom:125px;}
.center-content-d3 .value-title .line-left{width:380px;}
.center-content-d3 .value-title .line-right{width:380px;}
.d3-resource-td-1{margin-left: 25px;width: 280px ;height: 145px;display: inline-block; -webkit-box-shadow: 3px 3px 15px #e5e5e5;  -moz-box-shadow: 3px 3px 15px #e5e5e5;  box-shadow: 3px 3px 15px #e5e5e5;border: 1px solid #e5e5e5;border-radius: 5px}
.d3-resource-td-1 h1{height:145px;width: 89px ;line-height: 145px;display: inline-block}
.d3-resource-td-1 h1 div{width: 89px;height: 89px;vertical-align: middle;margin-left: 10px;border-radius: 50%;display: inline-block;overflow: hidden}
.d3-resource-td-1 h2{display: inline-block;margin-left: 20px}
.d3-resource-td-1 h2 b{font-size: 22px;color: #e61d4c;font-weight: bold;line-height: 20px}
.d3-resource-td-1 h2 span{font-size: 18px;color: #e61d4c}
.d3-resource-td-1 h2 em{font-size: 14px;color: #909090;position: relative;top: 10px}

.d3-resource-td-2{width: 280px ;height: 145px;display: inline-block; -webkit-box-shadow: 3px 3px 15px #e5e5e5;  -moz-box-shadow: 3px 3px 15px #e5e5e5;  box-shadow: 3px 3px 15px #e5e5e5;border: 1px solid #e5e5e5;border-radius: 5px;margin-left:3px}
.d3-resource-td-2 h1{height:145px;width: 89px ;line-height: 145px;display: inline-block}
.d3-resource-td-2 h1 div{width: 89px;height: 89px;vertical-align: middle;margin-left: 10px;border-radius: 50%;display: inline-block;overflow: hidden}
.d3-resource-td-2 h2{display: inline-block;margin-left: 20px}
.d3-resource-td-2 h2 b{font-size: 22px;color: #e61d4c;font-weight: bold;line-height: 20px}
.d3-resource-td-2 h2 span{font-size: 18px;color: #e61d4c}
.d3-resource-td-2 h2 em{font-size: 14px;color: #909090;position: relative;top: 10px}


.d3-resource-td-3{width: 280px ;height: 145px;display: inline-block; -webkit-box-shadow: 3px 3px 15px #e5e5e5;  -moz-box-shadow: 3px 3px 15px #e5e5e5;  box-shadow: 3px 3px 15px #e5e5e5;border: 1px solid #e5e5e5;border-radius: 5px;margin-left: 3px}
.d3-resource-td-3 h1{height:145px;width: 89px ;line-height: 145px;display: inline-block}
.d3-resource-td-3 h1 div{width: 89px;height: 89px;vertical-align: middle;margin-left: 10px;border-radius: 50%;display: inline-block;overflow: hidden}
.d3-resource-td-3 h2{display: inline-block;margin-left: 20px}
.d3-resource-td-3 h2 b{font-size: 22px;color: #e61d4c;font-weight: bold;line-height: 20px}
.d3-resource-td-3 h2 span{font-size: 18px;color: #e61d4c}
.d3-resource-td-3 h2 em{font-size: 14px;color: #909090;position: relative;top: 10px}


.d3-resource-td-4{width: 280px ;height: 145px;display: inline-block; -webkit-box-shadow: 3px 3px 15px #e5e5e5;  -moz-box-shadow: 3px 3px 15px #e5e5e5;  box-shadow: 3px 3px 15px #e5e5e5;border: 1px solid #e5e5e5;border-radius: 5px;margin-left: 3px}
.d3-resource-td-4 h1{height:145px;width: 89px ;line-height: 145px;display: inline-block}
.d3-resource-td-4 h1 div{width: 89px;height: 89px;vertical-align: middle;margin-left: 10px;border-radius: 50%;display: inline-block;overflow: hidden}
.d3-resource-td-4 h2{display: inline-block;margin-left: 20px}
.d3-resource-td-4 h2 b{font-size: 22px;color: #e61d4c;font-weight: bold;line-height: 20px}
.d3-resource-td-4 h2 span{font-size: 18px;color: #e61d4c}
.d3-resource-td-4 h2 em{font-size: 14px;color: #909090;position: relative;top: 10px}
.d3-resource-tr-2{margin-top:30px }
.d3-resource-tr-1{margin-top: 60px}

.d3-resource button{width: 200px; height:60px;  background-color: #e61d4c;  border: none;  color: #FFFFFF;  line-height: 30px;font-size: 2em;border-radius: 5px;font-family: "Microsoft YaHei"   ; display: block;  margin:45px auto;  }
.center-content-d4 .line-left{width: 370px}
.center-content-d4 .line-right{width: 370px}
.center-content-d5 .line-left{width: 410px}
.center-content-d5 .line-right{width: 410px}

.misgiving-content-1{float: left;width:375px;height:240px;display: inline-block; -webkit-box-shadow: 3px 3px 15px #e5e5e5;  -moz-box-shadow: 3px 3px 15px #e5e5e5;  box-shadow: 3px 3px 15px #e5e5e5;border: 1px solid #e5e5e5;}
.misgiving-content-1 p{height: 80px;background-color: #0cd0d3;color: #ffffff;font-size: 24px;line-height: 80px;text-align: center}
.misgiving-content-1 span{display: inline-block;border:15px solid transparent;width: 0;height: 0 ;border-top-color: #0cd0d3;margin-left: 50px}
.misgiving-content-1 b{margin:15px 15px;display: inline-block;line-height: 22px;color: #a2a2a2;height: 100px }

.misgiving-content-2{float: left;width:375px;height:240px;display: inline-block; -webkit-box-shadow: 3px 3px 15px #e5e5e5;  -moz-box-shadow: 3px 3px 15px #e5e5e5;  box-shadow: 3px 3px 15px #e5e5e5;border: 1px solid #e5e5e5;margin: 0 30px}
.misgiving-content-2 p{height: 80px;background-color: #0cd0d3;color: #ffffff;font-size: 24px;line-height: 80px;text-align: center}
.misgiving-content-2 span{display: inline-block;border:15px solid transparent;width: 0;height: 0 ;border-top-color: #0cd0d3;margin-left: 50px}
.misgiving-content-2 b{margin:15px 15px;display: block;line-height: 22px;color: #a2a2a2 ;height: 100px}


.misgiving{margin-top: 70px;height: 240px}
.misgiving div b,.misgiving-2 div b{font-size: 13px}
.misgiving-2{margin-top: 40px;height: 240px;}
.misgiving-content-2 p.lh40{line-height: 40px}
.misgiving-content-1 p.lh40{line-height: 40px}
.center-content-d5 h1 {font-size: 24px;font-weight: bold;margin-top: 55px;margin-left: 70px;margin-bottom: 20px}

/*招募条件*/
.center-term-li-1{width: 200px;height: 200px;background-color: #ffffff;float: left;position: relative}
.center-term-li-1>span{display:inline-block;border: 40px solid transparent;border-left-color:#ffffff;position: absolute;right: -80px;top: 60px ;z-index: 10}
.center-term-li-1 div{width: 195px;height:200px;background-color: #e5e5e5;position: absolute;top: 0 }
.center-term-li-1 div>span{display:inline-block;border: 40px solid transparent;border-left-color:#e5e5e5;position: absolute;right: -80px;top: 60px ;z-index: 80}
.center-term-li-1 div b{display: block;margin:45px 18px 0 45px;font-size: 18px;line-height: 32px}
.center-term-li-2{width: 200px;height: 200px;background-color: #ffffff;float: left;position: relative}
.center-term-li-2>span{display:inline-block;border: 40px solid transparent;border-left-color:#ffffff;position: absolute;right: -80px;top: 60px ;z-index: 10}
.center-term-li-2 div{width: 195px;height:200px;background-color: #fef4d1;position: absolute;top: 0 }
.center-term-li-2 div>span{display:inline-block;border: 40px solid transparent;border-left-color:#fef4d1;position: absolute;right: -80px;top: 60px ;z-index: 80}
.center-term-li-2 div b{display: block;margin:45px 18px 0 45px;font-size: 18px;line-height: 32px}
.center-term{height: 200px;margin-left: 100px;margin-bottom: 60px}

/*缤纷云入驻流程*/
.enter-flow{width:100%;height:653px;margin-top:0;position:relative;}
.bg-img{width:1920px;height:653px;background:url("../../images/temp/foot.png");position: absolute;top:0;left:50%;margin-left:-960px;filter:blur(5px);-webkit-filter:blur(5px);z-index:-1;}
.flow-content{width:1200px;margin:0 auto;}
.flow-content h2{font-size:50px;text-align:center;color:#fff;padding-top:35px;}
.line-separation{width:1200px;height:30px;position: relative;}
.line-separation .line-under{width:1200px;height:1px;background:#D1C8BF;position:absolute;top:14px;left:0;z-index:5;}
.circle-separation{width:30px;height:30px;background:#B3A79D;border-radius:50%;vertical-align:middle;position:absolute;left:50%;top:0;margin-left:-15px;z-index:6;}
.circle-separation-bottom{width:30px;height:30px;display:inline-block;background:#fff;opacity:0.5;position:absolute;top:0;left:0;z-index:10;border-radius:50%;}
.circle-separation-top{width:20px;height:20px;display:inline-block;background:#fff;position:absolute;top:50%;left:50%;margin:-10px 0 0 -10px;border-radius:50%;}
.flow-container{width:1200px;height:180px;position:relative;margin-top:60px;padding:0 90px;}
.flow-container ul li{width:135px;height:180px;float:left;margin:0 5px;position: relative;}
.circle-container{width:135px;height:135px;vertical-align:middle;position:relative;text-align:center;}
.circle-container-bottom{width:135px;height:135px;display:inline-block;background:#fff;opacity:0.3;position:absolute;top:0;left:0;z-index:10;border-radius:50%;}
.circle-container-top{width:115px;height:115px;display:inline-block;background:#fff;position:absolute;top:50%;left:50%;margin:-57.5px 0 0 -57.5px;border-radius:50%;}
.icon-infor{padding-top:30px;position: relative;z-index:10;}
.direct-r{position:absolute;left:50%;margin:53px 0 0 -37px;}
.describe{width:135px;text-align:center;position:absolute;bottom:0;color:#0BD0D3;font-size:19px;font-weight:bold;}
.apply-join{font-family: "Microsoft YaHei";width:205px;height:60px;color:#fff;background:#e61d4e;border:none;border-radius:5px;font-size:25px;position:absolute;bottom:100px;left:50%;margin-left:-102.5px;}

/*弹窗（项目经理设计师）*/
.manager-constructor{;display:none;width: 500px;height: 320px;background-color: #ffffff;border-radius: 5px;}
.manager,.constructor{width: 125px;display: inline-block;margin-top: 80px;margin-left: 75px}
.manager img,.constructor img{border-radius: 50%}
.manager p,.constructor p{text-align: center;font-size: 16px;margin-top: 10px}

/*联系我们*/
.content-map{width: 950px;margin: 20px auto}
.content-map>p{font-size: 16px;color:#9e9e9e;padding-bottom: 15px;border-bottom:1px solid #e5e5e5 ;margin-bottom: 30px}
.map-r{display: inline-block;width:323px;height: 523px;border: 1px solid #e5e5e5;float: right}
.map-r ul{float: right;width: 200px;line-height: 25px;margin-right: 15px}
.map-r p{font-weight: bold;font-size: 12px}
.map-r-div{display: inline-block;margin-left: 15px}
.map-r-div img{margin-top: 5px}
.map-r-div p{margin-top: 10px}
.map-r-sz,.map-r-hz{margin-top: 40px}
.map-r-hz{margin-bottom: 100px}
.custom{margin-left: 15px;margin-right: 15px}
.custom-p1{margin-bottom: 15px}
.custom-p2{margin-bottom: 15px}
.custom-p2>span,.custom-p3>span{width: 260px;margin-left: 20px;line-height: 23px}
.content-map input[type=button]{padding: 0}
.BMap_bubble_content>div>div>span{margin-left: -0.5px}
.content-top img{margin: 0 auto;display: block}

/*添加合作商*/
.user-right .partner{background-color: #e61d4c;width: 150px;height: 30px;border:none;color: #ffffff;margin-top: 20px}
.partner-table th{line-height: 40px}
.partner-table thead{background-color: #cccccc}
.partner-table td{text-align: center;line-height: 25px;overflow:hidden; text-overflow:ellipsis;}
.partner-table td a{color: #e61d4c}
.partner-table{table-layout:fixed;margin-top: 20px;margin-bottom: 20px}


.append-partner table{width: 800px;margin: 20px auto}
.bgccc{background-color: #cccccc}
.append-partner{width: 850px;display: none}
.append-partner button{float: right;margin-top: 20px;border: none;background-color: #e61d4c;color: #ffffff;width: 70px;height: 25px;border-radius: 3px;margin-right: 25px}
.append-partner td{height: 25px;line-height: 25px;padding: 0;text-align: center}
.append-partner td input{    width: 100%;  height: 25px;  border: none;padding:0 10px}
.append-partner td textarea{width: 100%;border: none;height: 80px;padding: 5px 10px}
